<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Groups</title>

  <link rel="stylesheet" href="/css/homeStyles.css">
  <script defer type="module" src="/js/groupListScripts.js"></script>
</head>

<body>
  <main>
    <%- include('partials/sidebarPanel.ejs') %>
      <%- include('partials/groupListPanel.ejs') %>
        <%- include('partials/modalCreateGroup.ejs') %>
  </main>
</body>

</html>