<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link rel="stylesheet" href="css/stylesHome.css">
  <script type="module" src="js/scriptsHome.js"></script>
</head>

<body>
  <main>
    <section id="sidebar">
      <a href="/home">icon 1</a>
      <a href="/groups">icon 2</a>
      <a href="/home/logout">logout</a>
    </section>
    <section id="chats-panel">
      <div class="title">
        <h1>Messages</h1>
      </div>
      <div id="chats-list">
        <form action="/" id="search-form">
          <label for="search">search</label>
          <input type="text" placeholder="Search messages, users" name="search" id="search">
        </form>
        <div class="chat">
          <img class="avatar" src="https://i.pinimg.com/736x/fa/47/30/fa4730338dabbd71947d73239891f059.jpg" alt="/">
          <h3 class="name">Name 1</h3>
          <p class="preview">chat content</p>
          <p class="time">12m</p>
        </div>
        <div class="chat">
          <img class="avatar" src="https://i.pinimg.com/736x/fa/47/30/fa4730338dabbd71947d73239891f059.jpg" alt="/">
          <h3 class="name">Name 2</h3>
          <p class="preview">chat content</p>
          <p class="time">24m</p>
        </div>
      </div>
    </section>
    <%- include('partials/noMessagesPanel.ejs') %>
  </main>
</body>

</html>