:root {
  --primary-color: #615EF0;
  --secondary-color: #F3F3F3;
  --third-color: #ECECEC;
  --fourth-color: #F6F6FE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  display: grid;
  grid-template-columns: auto auto 1fr;
  min-height: 100vh;
}

/*-----------------------------*/

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  margin-right: 2rem;
}

/*-----------------------------*/

#groups-list {
  padding: 1.8rem;
}

#chats-list .chat,
#groups-list .chat {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr 1fr;
  column-gap: .75rem;
}

#groups-list .chat:hover {
  background-color: var(--fourth-color);
  cursor: pointer;
}

#chats-list .chat .avatar,
#groups-list .chat .avatar {
  grid-row: span 2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.preview {
  grid-column: span 2;
}

/*-----------------------------*/

#messages-panel {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#messages-panel .title {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: .75rem;
}

#messages-panel .title .avatar {
  grid-row: span 2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.receiver .messages {
  flex: 1;
}

.receiver .avatar {
  grid-row: span 2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#message-box input[type="text"] {
  flex: 1;
}

/*-----------------------------*/

#no-messages-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/*-----------------------------*/

#create-group-modal {
  z-index: 100;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(48, 48, 48, 0.733);
  display: none;
  align-items: center;
  justify-content: center;
}

#modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
}