:root {
  --primary-color: #615EF0;
  --secondary-color: #F3F3F3;
  --third-color: #ECECEC;
  --fourth-color: #F6F6FE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  /*background-color: var(--secondary-color);*/
  background-color: gray;
  min-height: 100vh;
}

main {
  display: grid;
  grid-template-columns: auto auto 1fr;
  min-height: 100vh;
}

/*-----------------------------*/

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  padding: .5rem;
  background-color: white;
  margin-right: 2rem;
}

/*-----------------------------*/

#chats-panel,
#groups-panel {
  background-color: white;
  border-right: 3px solid var(--third-color);
}

#chats-panel .title,
#groups-panel .title {
  padding: 1.8rem;
  border-bottom: 3px solid var(--third-color);
}

#chats-list,
#groups-list {
  padding: 1.8rem;
}

#chats-list .chat {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr
}

#chats-list .chat:hover {
  background-color: var(--fourth-color);
  cursor: pointer;
}

#chats-list .chat .avatar {
  grid-row: span 2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#chats-list .chat .time {
  position: absolute;
  top: 0px;
  right: 0px;
}

/*-----------------------------*/

#messages-panel {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: white;
}

#messages-panel .title {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  border-bottom: 3px solid var(--third-color);
}

#messages-panel .title .avatar {
  grid-row: span 2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.receiver {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.receiver .messages {
  flex: 1;
}

.receiver .avatar {
  grid-row: span 2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.sender .message {
  text-align: right;
}

#chat-messages .message {
  color: white;
  background-color: var(--primary-color);
}

#message-box {
  display: flex;
  gap: 1rem;
  padding: 1.6rem 1.2rem;
}

#message-box input[type="text"] {
  flex: 1;
  padding: .5rem;
  border: 3px solid var(--third-color);
  border-radius: 5px;
  outline: none;
}

/*-----------------------------*/

#no-messages-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/*-----------------------------*/

#create-group-modal {
  z-index: 100;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(48, 48, 48, 0.733);
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
}