:root {
  --primary-color: #615EF0;
  /* --secondary-color: #F3F3F3; */
  --secondary-color: gray;
  /* --third-color: #ECECEC; */
  --third-color: gray;
}

body {
  font-family: 'Roboto', sans-serif;
}