<section id="chats-panel">
  <div class="title">
    <h1>Messages</h1>
  </div>
  <div id="chats-list">
    <form action="/" id="search-form">
      <label for="search">search</label>
      <input type="text" placeholder="Search messages, users" name="search" id="search">
    </form>
    <!-- <a href="/home/chat">
      <div class="chat">
        <img class="avatar" src="https://i.pinimg.com/736x/fa/47/30/fa4730338dabbd71947d73239891f059.jpg" alt="/">
        <h3 class="name">Name 1</h3>
        <p class="preview">chat content</p>
        <p class="time">12m</p>
      </div>
    </a> -->
    <!-- <a href="/home/chat">
      <div class="chat">
        <img class="avatar" src="https://i.pinimg.com/736x/fa/47/30/fa4730338dabbd71947d73239891f059.jpg" alt="/">
        <h3 class="name">Name 2</h3>
        <p class="preview">chat content</p>
        <p class="time">24m</p>
      </div>
    </a> -->
    <idv id="chats-wrapper">
  </div>
  </div>
</section>