<section id="groups-panel">
  <div class="title">
    <h1>Groups</h1>
  </div>
  <div id="create-group">add group</div>
  <div id="groups-list">
    <div id="groups-wrapper">
    </div>
  </div>
</section>