<section id="groups-panel" class="bg-white border-e-2 border-slate-100 w-80">
  <div class="title flex justify-between align-middle text-xl font-extrabold p-7 border-b-2 border-slate-100">
    <h1>Groups</h1>
    <i id="create-group"
      class="fa-solid fa-plus cursor-pointer p-1 bg-indigo-500 hover:bg-indigo-600 text-white rounded-full duration-300"></i>
  </div>
  <div id="groups-list" class="p-4 text-sm">
    <div id="groups-wrapper">
    </div>
  </div>
</section>