<section id="groups-panel">
  <div class="title">
    <h1>Groups</h1>
  </div>
  <div id="create-group">add group</div>
  <div id="groups-list">
    <form action="/" id="search-form">
      <label for="search">search</label>
      <input type="text" placeholder="Search messages, groups" name="search" id="search">
    </form>
    <div id="groups-wrapper">
    </div>
  </div>
</section>