<section id="groups-panel" class="bg-white border-e-2 border-slate-100 w-80">
  <div class="title text-xl font-extrabold p-7 border-b-2 border-slate-100">
    <h1>Groups</h1>
    <span id="create-group">
      <i class="fa-solid fa-plus"></i>
    </span>
  </div>
  <div id="groups-list" class="p-4 text-sm">
    <div id="groups-wrapper">
    </div>
  </div>
</section>