<div id="messages-panel">
  <div class="title">
    <img class="avatar" src="https://i.pinimg.com/736x/fa/47/30/fa4730338dabbd71947d73239891f059.jpg" alt="/">
    <h2>
      <%= user.name + ' ' + user.lastName %>
    </h2>
    <p>status</p>
  </div>
  <div id="chat-messages">
    <div class="receiver">
      <!-- <img class="avatar" src="https://i.pinimg.com/736x/fa/47/30/fa4730338dabbd71947d73239891f059.jpg" alt="/"> -->
      <p class="message">
        message 1
      </p>
      <p class="message">
        message 2
      </p>
    </div>
    <div class="sender">
      <p class="message">
        message 1
      </p>
      <p class="message">
        message 2
      </p>
    </div>
  </div>
  <div id="message-box">
    <input type="hidden" name="user" value="<%= user.sessionID %>" id="receiver-data">
    <input type="text" placeholder="Type a message" name="message" id="message">
    <input type="submit" value="send" id="send">
  </div>
</div>