<div id="messages-panel">
  <div class="title">
    <img class="avatar" src="https://i.pinimg.com/736x/fa/47/30/fa4730338dabbd71947d73239891f059.jpg" alt="/">
    <h2>
      <%= user.name + ' ' + user.lastName %>
    </h2>
    <p>status</p>
  </div>
  <div id="messages">
    <div class="receiver">
      <img class="avatar" src="https://i.pinimg.com/736x/fa/47/30/fa4730338dabbd71947d73239891f059.jpg" alt="/">
      <div class="messages">
        <p class="message">
          <span>message 1</span>
        </p>
        <p class="message">
          <span>message 2</span>
        </p>
        <p class="message">
          <span>message 3</span>
        </p>
      </div>
    </div>
    <div class="sender messages">
      <p class="message">
        <span>message 1</span>
      </p>
      <p class="message">
        <span>message 2</span>
      </p>
    </div>
  </div>
  <div id="message-box">
    <input type="text" placeholder="Type a message" name="message" id="message">
    <input type="submit" value="send">
  </div>
</div>