<div id="create-group-modal">
  <div id="modal-content">
    <div class="modal-header">
      <h2>Create Group</h2>
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
      <form method="post" action="/home/chat" id="create-group-form">
        <label for="group-name">Group Name</label>
        <input type="text" name="group-name" id="group-name" required>
        <button type="submit">Create group</button>
      </form>
    </div>
  </div>
</div>