<div id="create-group-modal">
  <div id="modal-content" class="rounded-2xl bg-white p-8">
    <div class="modal-header pb-4">
      <h2 class="text-xl font-extrabold">Create Group</h2>
      <!-- <span id="close-modal" class="close">&times;</span> -->
    </div>
    <div class="modal-body">
      <form id="create-group-form" class="flex flex-col text-sm gap-4">
        <input type="text" placeholder="Group name" name="name" id="name" required
          class="border-2 border-slate-200 rounded-lg p-3 outline-none">
        <button type="submit"
          class="text-sm text-white p-4 rounded-lg bg-indigo-500 hover:cursor-pointer hover:bg-indigo-600 duration-300">Create
          group</button>
      </form>
    </div>
  </div>
</div>