<section id="sidebar" class="p-4 bg-white shadow-md">
  <a href="/home"><i class="fa-regular fa-message"></i></a>
  <a href="/home/groups"><i class="fa-solid fa-users"></i></a>
  <a href="/home/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
</section>